@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/rubik/rubik-400.woff2") format("woff2"),
    url("../fonts/rubik/rubik-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/rubik/rubik-700.woff2") format("woff2"),
    url("../fonts/rubik/rubik-700.woff") format("woff");
  font-display: swap;
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 1160px;
  margin: 0 auto;
}

/* Pages */
.page-header {
  color: #444444;
  background: #FFE17F;
  display: flex;
  flex-direction: column;
}

.header-container {
display: flex;
justify-content: space-between;

}
.logo {

  width: 145px;
  margin-right: 60px;
  align-self: flex-start;
}

.search-form {
  display: flex;
}

.search-form input::placeholder {
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  align-items: flex-start;
  margin-right: 60px;
}

.link-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.user-link-container {
  display: flex;
  justify-content: space-between;
}

.user-link-list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 50px;
}

.link-item {
  margin: 0;
  padding: 0;

}

.navigation-user {
  display: flex;
  justify-content: space-between;
}

.button {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #000000;
}

.navigation-link {
  font-family: "Raleway";
  color: inherit;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.slider-link {
  font-family: "Raleway";
  color: #000000;
  font-weight: 800;
  text-transform: uppercase;
  text-align: flex-start;

}
.user-link {
  color: #000000;
}

.quadcopter {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.quadcopter-text {
  display: flex;
  flex-direction: column;
}

.fitness-bracelet {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.fitness-bracelet-text {
  display: flex;
  flex-direction: column;
}

.selfie-stick {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
}

.selfie-stick-text {
  display: flex;
  flex-direction: column;
}

.devices-title {
  font-family: "Raleway";
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  text-align: left;
}

.specific {
  font-size: 16px;
  text-align: left;
  text-align: flex-start;
}

.parameter {
font-size: 36px;
line-height: 83%;
text-align: left;
color: #000000;
text-align: flex-start;
margin: 0;
}

.products{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.products-item-link {
  font-weight: 800;
  line-height: 133%;
  font-family: "Raleway";
  color: #000000;
  letter-spacing: -0.02em;
  text-align: left;
}

.products-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 40px;
}

.service-button {
  font-family: "Raleway";
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 280px;
  height: 40px;
  display: flex;
  align-self: flex-start;
}
.services {
  background: #F0F0F0;
  display: flex;
}

.service-buttons {
  display: flex;
  flex-direction: column;
}

.service-description-title {
  font-family: "Raleway";
  color: #000000;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
}

.service-description-item {
  width: 452px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.service-description-more {
  line-height: 167%;
}

.rare-service {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  width: 910px;
  margin: auto;
}

.rare-service-container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 520px;
}
.about-contacts-container {
  display: flex;
  width: 1160px;
  gap: 108px;
}

.about-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.paragraph-list {
  list-style-position: inside;
  padding: 0;
}

.paragraph-list-name {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000000;
}

.contacts {
  width: 532px;
}
.title-contacts {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  color: #000000;
}

.сompany-address {
  font-style: normal;
}

.subscribe {
  background: #F0F0F0;
}

.subscribe-container {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 100%;
}
.subscribe-title {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
}

.subscribe-form input::placeholder {
  line-height: 167%
  color: #444444;
  font-size: 18px;
}

 .subscribe-form-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
}

.page-footer {
  background: #444444;
  display: flex;
  width: 1160px;
  flex-direction: column;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
}

.service-footer-container {
  display: flex;
  justify-content: space-between;
}

.adress-footer {
  color:#ffffff;
}

.service-footer-item {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color:#ffffff;
  font-family: "Raleway";
}

.html-logo-container{
  display: flex;
  justify-content: flex-end;
}

.phone {
  font-size: 16px;
  line-height: 125%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color:#ffffff;
  font-style: italic;
}

.user-link-out {
  opacity: 0.3;
}

.inner-header-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
  color: #000000;
  font-family: "Raleway";
  margin: 60px;
}

.breadcrumbs {
  display: flex;
  gap: 36px;
  margin: 40px;
  justify-content: flex-start;
}

.breadcrumbs-link {
  font-size: 16px;
  color: #000000;
}

.monopod-filter-title {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000000;
}

.filter_number {
  font-size: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.control-color {
  font-size: 16px;
  color: #000000;
}

.control-label {
  font-size: 16px;
  color: #000000;
}

.filter-sorting {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  font-family: "Raleway";
}

.popular-sorting {
  line-height: 167%;
  color: #000000;
}

.product-card {
  padding: 40px;
}

.product-card-link {
  font-weight: 700;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: #000000;
  width: 360px;
}

.product-card-price {
  text-align: right;
  color: #000000;
}

/* full container */
.products-pagination-download-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

/* 1 block */
.filter-container-info {
  display: flex;
  gap: 295px;
}

/* 2 block */
.filter-container {
  display: flex;
  width: 320px;
}

/* 3 block */
.products-container {
  display: flex;
  flex-direction: column;
}

/* 2 and 3 block together */
.filter-products-container {
  display: flex;
}

/* 3 parts of 3 block */
.products {
  display: flex;
}

.download-more-button {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  font-family: "Raleway";
  width: 760px;
  margin: 0 auto;

}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 760px;

}

.forth-container {
  display: flex;
  flex-direction: column;
}

/* 1 and 2 rows of cards */
.first-row-cards {
  display: flex;
  width: 760px;
  margin: 0;
  padding:0;
}

.second-row-cards {
  display: flex;
  width: 760px;
  margin: 0;
  padding:0;
}

.button-pagination-back {
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  font-family: "Raleway";
}

.pagination-link {
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  border: 0;
}
